<body>
    <div id="contenedor">
        <div id="titulo">
            <h3>Express Books</h3>
        </div>
        <div id="enlaces">
            <ul>
                <li><a href="http://localhost:3000">Inicio</a></li>
                <li><a href="http://localhost:3000/newbook">Add new books</a></li>
            </ul>
        </div>
    </div>
</body>
</html>